*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
/* la barre nav */
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 17px 5px;
    background: #f9f9f9;;
    width: 100%;
    align-items: center;
}
nav a{
    text-decoration: none;
    color:#111; 
    padding: 0 15px;
}
nav a:hover{
    color:#2f962f;
    transition: 1s;
}

 /*menu burger  */
.respon{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    display: none;
    backdrop-filter:blur(20px);
    box-shadow:20px rgba(0, 0, 0, 0.1); 
    flex-direction: column;
}
.respon a{
    padding:15px;
}
.menu{
    display: none;
}

/* tout savoir sur le site */
.propos{
    margin: 60px auto;
    padding: 2rem;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 20px;
}
.propos h2{
    margin: 20px 0;
    color: #3a983a;
    font-size:2rem;
}
.propos p{
    width: 70%;
    margin: auto;
}
.propos ul{
    width: 70%;
    margin: auto;
}

/* le pied de la page  */
footer{
    padding : 2rem 1rem;
    text-align: center;
    background-color: #cffdcf;
}
footer h3{
    color: #2f962f;
}
.foot{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}
.link a{
    color:#3a983a;
    font-size:x-large;
}
hr{
    margin: 20px;
}

/* la responsivité  nav barre et burger*/
@media (max-width: 800px) {
    .menu{
        display: block;
    }
    .afbar{
        display: none;
    }    
}
@media(max-width: 400px) {
    .respon{
        width: 100%;
    }
}