
*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* barre nav */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 17px 5px;
    background: #f9f9f9;;
    width: 100%;
    top:0;   
}
nav a{
    text-decoration: none;
    color:#111; 
    padding: 0 15px;
}
nav a:hover{
    color:#2f962f;
    transition: 1s;
} 

/* menu hamburger */
.respon{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    display: none;
    backdrop-filter:blur(20px);
    box-shadow:20px rgba(0, 0, 0, 0.1); 
    flex-direction: column;
}
.respon a{
    padding:15px;
}
.menu{
    display: none;
}

/* tete de page */
.sante{
    max-width: 600px;
    padding: 3rem;
    margin-top:70px;
}
h3{
    color: #3a983a;
}
/* disposition des tableau */
main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-bottom: 60px;
}
section{
    padding: 2rem 3rem;
    background-color: #cffdcf;
    border-radius: 20px;
}
section strong{
    color: #2f962f;
}
 ul{
    padding-left: 40px;
}


/* mouvement de la tableau */
section.modif{
    max-height: 180px;
    overflow: hidden;
}
.racourcie{
    margin-top: 10px;
    background:#2f962f;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

/* pied de page */
footer{
    padding : 2rem 1rem;
    text-align: center;
    background-color: #cffdcf;
}
footer h3{
    color: #2f962f;
}
.foot{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}
.link a{
    color:#3a983a;
    font-size:x-large;
}
hr{
    margin: 20px;
}

/* la responsive de la nav barre */
@media (max-width: 800px) {
    .menu{
        display: block;
    }
    .afbar{
        display: none;
    }    
}
@media(max-width: 400px) {
    .respon{
        width: 100%;
    }
}

/*la responsivité des tableaux*/
@media(max-width:520px) {
    main{
        grid-template-columns:1fr;
    }
}