*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
body{
    background: #cffdcf;
}
.blog{
    position: fixed;
    top: 0;
    width: 100%;
    background: #f9f9f9;
    padding: 17px 5px;
}
nav{
    float: right; 
}
nav a{
    text-decoration: none;
    color: #b4b2b2; 
    padding:15px;
}
nav a:hover{
    text-decoration: none;
    color: #040404;  
}
.logo{
    float: left;
}
.propos{
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color:#f9f9f9 ;
    border-radius: 20px;
    max-width:800px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 60px;
}
.propos h2{
    text-align: center;
    text-decoration:underline;
}
.propos a{
    text-decoration: none;
    color: #2f962f;  
}
footer{
    background-color: #eaeaea;
    color:black;
    padding : 2rem 1rem;
    text-align: center;
}
footer a{
    text-decoration: none;
    color:rgb(50, 48, 48);
    padding: 30px;
}
hr{
    margin: 20px;
}
.pied{
    color: #818181;
}