*{
    padding: 0;
    margin: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.blog{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #f9f9f9;
    padding: 20px 5px;
}
nav{
    float: right; 
}
nav a{
    text-decoration: none;
    color: #b4b2b2; 
    padding: 0 15px;
}
nav a:hover{
    text-decoration: none;
    color: #040404;  
}
.logo{
    float: left;
}
.faq{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color:#f9f9f9 ;
    max-width: 800px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 120px;

}
.faq h2{
    text-align: center;
    text-decoration: underline;
}

section{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color:#f9f9f9 ;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
footer{
    background-color: #eaeaea;
    color:black;
    padding : 2rem 1rem;
    text-align: center;
}
footer a{
    text-decoration: none;
    color:rgb(50, 48, 48);
    margin: 0 1rem;
    padding: 70px;
    line-height: 4rem;
}
hr{
    margin: 20px;
}
.pied{
    color: #818181;
}