
*{
    padding: 0;
    margin: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.blog{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    padding: 20px 5px;
}
nav{
    float: right; 
}
nav a{
    text-decoration: none;
    color: #b4b2b2; 
    padding: 0 15px;
}
nav a:hover{
    text-decoration: none;
    color: #040404;  
}
.logo{
    float: left;
}
header{
    max-width: 600px;
    margin: 0;
    background-color: #fff;
    padding: 4rem;
}
h3{
    color:  #2f962f;
}
h2{
    text-align: center;
    text-decoration: underline;
}
section{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-between;
    padding: 10px;
}
.parties{
    background-color: #cffdcf;
    padding: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;  
    width: 49%;
}
footer{
    background-color: #eaeaea;
    color:black;
    padding : 2rem 1rem;
    text-align: center;
}
footer a{
    text-decoration: none;
    color:rgb(50, 48, 48);
    margin: 0 1rem;
    padding: 70px;
    line-height: 4rem;
}
hr{
    margin: 20px;
}
.pied{
    color: #818181;
}
